.title {
    background-color: black;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 32px;
    padding: 10px;
    width: 100;
    text-align: center;
}

.msgAppTitle {
    background-color: black;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 32px;
    padding: 10px;
    width: 100;
    text-align: center;
}

.messages {
    overflow-y: scroll;
    height: 250px;
}

.msg {
    list-style-type: none;
}

.name {
    color: blue;
    
}

.mygame {
    text-align: right;
}

.mygame span {
    background-color: black;
    color: white;
}

.mygame i {
    display: none;
}